.DS_Store
.git
.svn
.hg
.zip
.gz
.idea
.idea/
.idea/*
*.iml
*.ipr
*.iws
*.tgz
*.lock
.*.swp
.vim
.tmp
.env
.npm
.nyc_output
.grunt
.eslintcache
.yarn-integrity
.node_repl_history
.lock-wscript
*.log
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules
bower_components
npm-debug.log
yarn.lock
package-lock.json
dist
coverage
build
demo
